/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-feb-2016, 19:23:59
    Author     : Adri
*/

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F5F5F5;
}




/* eWaiter css */

/*nav*/
.zonaMenu{}
.menu{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    height: 40px;
    font-size: 18px;    
}
.menuHomeOFF{
    width: 5%;
    background-color: #F5F5F5;
}
.menuHomeOFF:hover{
    background-color: #279CFE;
}
.menuHomeON{
    width: 19%;
}
.menuOFF{
    width: 19%;
    background-color: #404040;
    color:#F5F5F5;
}
.menuOFF:hover{
    background-color: #279CFE;
}
.menuON{
    width: 19%;
    color: white;
    background-color: #279CFE;
    
}



/*css base*/
.legeneWa{
    display: block;
    padding-left: 2px;
    padding-right: 0px;
    width: auto;
    border-bottom: 0px solid;
}
.fielseWa{
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    border-radius: 7px;
    text-align: start; /*puede dar algun problema*/
}

.Pcabecera{
    float:right;
    text-align: right;
    margin-right: 4%;
    margin-top: -2%;
}
.pCabeceraBotonAtras{
    float:left;
    text-align: left;
    margin-left: 4%;
    margin-top: -2%;
}
.PsepBotones{
    margin-top: 7%;
}

.publi{
    text-align: right;
    margin-right: 3%;
}

/*administración*/
.Badmin {
	-moz-box-shadow:inset 0px 0px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 0px 3px 0px #91b8b3;
	box-shadow:inset 0px 0px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding-top:6px;
        padding-bottom: 6px;
        width: 80%;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.Badmin:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.Badmin:active {
	position:relative;
	top:1px;
}

/*fin ewaiter css*/













.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}