.zonaConsultaYCreacion{
    height: 125px; 
    width: 100%;
    margin-bottom: 1%;
}

.filtros{
    width: 60%;
}

.spanGeneralFiltro{
    width: 100%;
    margin-left: 5%;
    font-size: 17px;
    text-align: center;
}
.seleccionPrimerLvl{
    margin-left: 2%;
    margin-right: 2%;
}
.seleccionSegundoLvl{
    margin-left: 2%;
}
.SpabotonAplicar{
    margin-left: 4%;
}


.buscar{
    width: 40%;
}
.buscador{
    border-color: #a4a4a4;
    border-radius: 15px;
    height: 32px;
    padding-left: 8px;
    width: 50%;
    transition: width 2s;
    color: #eee;
 
}
.buscador:focus{
    width: 90%;
    color: #000;
}
.clickBuscar{
    width: 6% ;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
}

.crear{
    width: 60%;
    text-align: center;
}

.AnadirProd {
	-moz-box-shadow:inset 0px 0px 10px -1px #ffffff;
	-webkit-box-shadow:inset 0px 0px 10px -1px #ffffff;
	box-shadow:inset 0px 0px 10px -1px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:9px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.AnadirProd:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.AnadirProd:active {
	position:relative;
	top:1px;
}




.gestionSubcat{
    width: 40%;
}
/*
ESTO SIRVE PARA TODOS PERO TIENE DIFERENTES VARIACIONES, YA QUE LA BOTONERA DE CARTAS ES 
LIGERAMNETE DIFERENTE A LA DE MENUS Y ASI CON LAS DEMAS, SE ESCRIBIRÁ UN COMENTARIO ENCIMA DEL
INICIO DE ELLAS DEJANDO CLARO PARA QUE TIPO SON.
*/

/*BOTONES PARA LAS CARTAS*/
.tablaExistente{
    width: 100%;
    height: 105px;
    border:2px solid;
    border-color:#000;
    border-radius: 15px;
    border-collapse:initial;
    margin-bottom: 2%;
   }
/*
DENTRO DE LA TABLA SE RECREAN LOS BOTNES A BASE DE ESTILOS CADA ZONA DE ESTA TABLE 
TIENES ESTILOS DIFERENTES PARA ADAPTARSE A LA NECESIDAD
*/

.cuerpoCarta{
    width: 95%;
    background-color: #DFDFD5;
    border-collapse:initial;
    border-radius: 15px 0 0 15px;
    color: #404040;
}
.cuerpoCarta:hover{
    background-color: #E8E8E1;
    color: #3A3A3A;
}
.cuerpoCarta:active{
    background-color: #BBBBA6;
    color: #5C5C5C;
}
.imgCarta{
    width: 10%;
    text-align: center;
}
.imagenEscupidera{
    height: 85px;
    width: 85px;
    border:3px solid #021a40;
    border-radius: 8px;
}
.nombreCarta{
    width: 70%;
    
    font-size: 32px;
}
.precioCarta{
    width: 8%;
    
    font-size: 32px;
}
.editarCarta{
    border-radius: 0 14px 0 0;
    border-collapse:initial;
    width: 5%;    
    background-color: #FFC903;
    text-align: center;
}
.editarCarta:hover{
    background-color: #FFD646;
}
.editarCarta:active{
    background-color: #D2A300;
}

.imgEditarCarta{
    height: 45px;
    width: 40px;
}
.eliminarCarta{
    border-radius: 0 0 14px 0;
    border-collapse:initial;
    width: 5%;
    background-color: #DE514B;
    text-align: center;
}
.eliminarCarta:hover{
    background-color: #E26B65; 
}
.eliminarCarta:active{
    background-color: #B42821;
}
.imgEliminarCarta{
    height: 45px;
    width: 45px;
}

/*FIN DE BOTONES CARTAS*/
.tablaNueva{  
    width: 100%;
    height: 105px;
    border:2px solid;
    border-color:#000;
    border-radius: 25px;
    border-collapse:initial;
    margin-bottom: 2%;
    text-align: center;
    border-width:2px;	
    border-style:dashed;
    font-size: 68px;
    color: #404040;
}
.tablaNueva:hover{
    border-color: #6A6A6A;
    color: #6A6A6A;
}
.tablaNueva:active{
    border-color: #eee;
    color: #eee;
}
/*css de botones */
/* zona de info producto*/
.tablaGeneralInfo{
    width: 100%; 
    height: 100%;
}
.imgInfo{
    width: 100%;
    height: 50%;
}
.titulosInfo{
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
    width: 60%;
    height: 10%;
}
.cajaScrollInfo{
    margin-top: -5%;
    margin-bottom: -5%;
    background : #F5F5F5;
    width : 100%;
    height: 100px;/*no puede ser responsive, control por js*/
    overflow : auto;
    font-size: 16px;
}
.Infolateral{
    width: 40%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
}
.InfoBotones{
    width: 30%;
    height: 10%;
    text-align: center;
    padding-right: 85px;
}



.infoImgEditarCarta{
    height: 55px;
    width: 50px;
    margin-right: 50px;
    margin-left: 15px;
}
.txtInfoEdityDelete{
    font-size: 45px;
    padding-right: 50px;
}
.infoEdit{
    margin-left: 15%;
    border-radius: 0 3px 0 0;
    border-collapse:initial;
    border: solid #9A9A9A 1px;
    width: 5%;    
    background-color: #FFC903;
    text-align: center;
}
.infoEdit:hover{
    background-color: #FFD646;
}
.infoEdit:active{
    background-color: #D2A300;
}


.infoBorrar{
    margin-left: 15%;
    border-radius: 0 3px 0 0;
    border-collapse:initial;
    border: solid #9A9A9A 1px;
    width: 5%;  
    background-color: #DE514B;
    text-align: center;
}
.infoBorrar:hover{
    background-color: #E26B65; 
}
.infoBorrar:active{
    background-color: #B42821;
}
.infoImgEliminarCarta{
    height: 55px;
    width: 50px;
    margin-right: 50px;
    margin-left: 15px;
}
.textoResultadoInfo{
    font-size: 24px;
}
.subido{
    padding-bottom: 20px;
    padding-top: 20px;
     padding-left: 43px;
}
/*zona de edit prodcuto*/
.tablaGeneralEdit{
    width: 100%; 
    height: 100%;
}
.zonaImgPre{
    width: 35%;
    text-align: center;
}
.zonaDesBot{
    width: 65%;
}
.imgEdit{
    width: 100%;
    height: 50%;
}
.colocInput{
    text-align: center;
    padding-left: 8%;/*si es muy grande se acaba descuadrando basto*/
}
.imputImg{
    align-content: center;
    margin-top: 10px;
}
.editNombre{
    width: 100%;
}
.legeneWaEdit{
    display: block;
    padding-left: 2px;
    padding-right: 0px;
    width: auto;
    border-bottom: 0px solid;
}
.fielseWaEdit{
    display: block;
    margin-right: 3%;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    border-radius: 7px;
    text-align: start; /*puede dar algun problema*/
    width: 100%;
    height: 100%;
}
.editDescr{
    width: 100%;
    height: 80%;
}
.tablaCategoria{
    width: 100%;
}
.nombreCat{
    width: 10%;
    text-align: right;
    padding-right: 3%;
}
.catCombo{
    width: 25%;
    margin-left: 3%;
    margin-right: 3%;
}
.anadirSubCat{
    width: 65%;
    text-align: center;
}